tr{
    white-space:nowrap;
}
.errorValidacion{
    display: none;
    color: red;
    font-weight: bold;
}
.iconoConf{
    height: 30px;
}

.errorValidacionForm{
    color: red;
    font-weight: bold;
}